In [10]:
# Importing respective modules
import pandas as pd
import re

In [11]:
# Reading elss mutual funds csv file
value_mf = pd.read_csv('value_mf_data(15-May-2021 17:36:29).csv')

In [12]:
# Extracting a plan from "Scheme Name" column
scheme_name = list(value_mf['Scheme Name'])
plan = []
for i in scheme_name:
    #print(type(i))
    plan.append(re.findall("Direct|Regular", str(i)))
#plan
for p in plan:
    if len(p) == 0:
        #print(type(p))
        p.append("Regular")
value_mf['Plan'] = plan

In [13]:
# Extracting a category from "Scheme Name" column
scheme_name = list(value_mf['Scheme Name'])
category = []
for i in scheme_name:
    #print(type(i))
    category.append(re.findall("Value Fund", str(i)))
value_mf['Category'] = category

In [14]:
# Modifiying 'Scheme Name' column
value_mf['Scheme Name'] = value_mf['Scheme Name'].str.replace(' - GrowthValue Fund', '')

In [15]:
#Replacing "']" & "['" string with "" in Plan columns
value_mf['Plan'] = value_mf['Plan'].astype(str).str.replace("\['","", regex=True)
value_mf['Plan'] = value_mf['Plan'].astype(str).str.replace("']","", regex=True)

#Replacing "']" & "['" string with "" in Category columns
value_mf['Category'] = value_mf['Category'].astype(str).str.replace("\['","", regex=True)
value_mf['Category'] = value_mf['Category'].astype(str).str.replace("']","", regex=True)

In [16]:
#Replacing "ELSS', 'ELSS" string with "ELSS" in Category columns
value_mf['Category'] = value_mf['Category'].astype(str).str.replace("Value Fund', 'Value Fund",
                                                                        "Value Fund", regex=True)

#Replacing "%" string with "" in Crisil Rank, % Debt Holding, No of instruments in portfolio,
# % MF Holding, % Other Holding, Turnover ratio, MTD, 10Y_SIP_RTN(%) & 5Y_SIP_RTN(%) columns
value_mf[['% Debt Holding', 'No of instruments in portfolio',
          '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
          'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'         
         ]] = value_mf[['% Debt Holding', 'No of instruments in portfolio',
                        '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
                        'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'
                        ]].replace("%", "", regex=True)

#Replacing "-" string with "0" in Crisil Rank columns
value_mf[['Crisil Rank', 'No of instruments in portfolio']] = value_mf[['Crisil Rank', 
                                                                            'No of instruments in portfolio'
                                                                           ]].replace("-", "0", regex=True)

In [17]:
#Replacing "-" string with "0" in Crisil Rank columns
value_mf['Crisil Rank'] = value_mf['Crisil Rank'].replace("", "0", regex=True)

#Replacing "%" with '' in the column
value_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = value_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"
                       ]].replace("%", "", regex=True)
print("Shape of the dataframe:", value_mf.shape)
value_mf.head()

Shape of the dataframe: (50, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
0,ICICI Prudential Value Fund - Series 19 - Dire...,0,2433.13,1.48,9.18,12.33,46.69,8.44,75.70,17.83,...,03-Mar-21,8.2147,18-May-20,52.60,55.30,-,-,-,Direct,Value Fund
1,ICICI Prudential Value Fund - Series 19,0,2433.13,1.46,9.09,12.17,46.37,8.41,74.66,17.14,...,03-Mar-21,7.9760,18-May-20,52.14,54.45,-,-,-,Regular,Value Fund
2,Sundaram Value Fund - Series VII - Direct Plan,0,34.40,1.26,11.20,13.25,54.95,11.06,124.17,21.70,...,11-May-21,5.4365,18-May-20,48.25,52.49,47.73,53.63,-,Direct,Value Fund
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,1.25,11.15,13.10,54.55,10.99,122.99,21.06,...,03-Mar-21,9.0593,18-May-20,42.52,47.54,42.94,47.29,121.01,Regular,Value Fund
4,Templeton India Value Fund - Direct,3,498.92,0.75,3.74,0.47,34.17,1.72,87.96,16.13,...,11-May-21,5.5569,18-May-20,41.42,45.78,46.07,-,-,Direct,Value Fund

In [18]:
#Sorting a value_mf dataframe by "Crisil Rank Column"
value_mf.sort_values(by=['Crisil Rank', 'Scheme Name', 'AuM (Cr)'], inplace=True, ascending=False)
print("Shape of the dataframe:", value_mf.shape)
value_mf.head()

Shape of the dataframe: (50, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
35,IDFC Sterling Value Fund - Regular Plan,5,3334.47,-0.36,5.29,9.26,41.72,5.95,110.44,18.64,...,03-Mar-21,48.7826,18-May-20,20.44,25.14,29.26,-,-,Regular,Value Fund
34,IDFC Sterling Value Fund - Direct Plan,5,3334.47,-0.35,5.38,9.56,42.48,6.09,112.78,19.92,...,11-May-21,31.3200,18-May-20,20.62,25.56,30.21,-,-,Direct,Value Fund
44,UTI Value Opportunities Fund - Direct Plan,4,5525.68,-0.90,2.37,-1.06,19.94,0.67,65.74,19.89,...,03-Mar-21,165.0513,18-May-20,16.46,23.15,24.45,34.30,-,Direct,Value Fund
45,UTI Value Opportunities Fund,4,5525.68,-0.91,2.31,-1.23,19.53,0.59,64.63,19.12,...,03-Mar-21,174.1346,18-May-20,17.46,22.86,22.97,30.81,112.62,Regular,Value Fund
28,ICICI Prudential Value Discovery Fund - Direct...,4,17824.83,-0.32,5.66,5.02,29.62,5.72,71.99,21.19,...,03-Mar-21,23.8998,18-May-20,24.21,28.57,27.38,-,-,Direct,Value Fund

In [19]:
#Replacing "-" with 'None' in the columns
value_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = value_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"]].replace({'-' : None})

In [20]:
#Replacing "" with '0' in the columns

value_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank'
         ]] = value_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',\
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank']].fillna(value='0')

In [21]:
#Changing the datatype of the return & risk ratio columns

value_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"
         ]] = value_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"]].apply(pd.to_numeric)

In [22]:
#Changing the datatype of the 'Crisil Rank' columns
value_mf['Crisil Rank'] = value_mf['Crisil Rank'].astype('int')

In [23]:
#Removing white spaces at both ends in all over the dataframe:

value_mf.columns = value_mf.columns.str.strip()

#Checking the data type of all columns in the DataFrame
value_mf_dtype = value_mf.dtypes

df_dtypes = pd.DataFrame(value_mf_dtype)

In [24]:
#Using pandas dataframe.round()function to round off all the decimal values to 2 decimal places
value_mf = value_mf.round(2)

In [25]:
# #Exporting the consolidated elss mf data as a  csv file
# print("Shape of the dataframe:", value_mf.shape)
#value_mf.to_csv('final_value_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)',
#                 index=False)

# #Exporting the elss mf data columns with its datatype as a  csv file
# df_dtypes.to_csv('value_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')

In [26]:
#Exctracting regular mutual funds
regular_mf = value_mf.loc[value_mf['Plan'] == 'Regular']
regular_mf.head()

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
35,IDFC Sterling Value Fund - Regular Plan,5,3334.47,-0.36,5.29,9.26,41.72,5.95,110.44,18.64,...,03-Mar-21,48.78,18-May-20,20.44,25.14,29.26,0.00,0.00,Regular,Value Fund
45,UTI Value Opportunities Fund,4,5525.68,-0.91,2.31,-1.23,19.53,0.59,64.63,19.12,...,03-Mar-21,174.13,18-May-20,17.46,22.86,22.97,30.81,112.62,Regular,Value Fund
31,ICICI Prudential Value Discovery Fund,4,17824.83,-0.33,5.61,4.89,29.30,5.65,71.07,20.53,...,10-May-21,28.07,18-May-20,23.64,26.71,25.13,0.00,0.00,Regular,Value Fund
5,Templeton India Value Fund,3,498.92,0.73,3.67,0.25,33.57,1.61,86.21,15.05,...,03-Mar-21,7.96,18-May-20,41.01,44.98,44.60,0.00,0.00,Regular,Value Fund
47,Quantum Long Term Equity Value Fund,3,834.84,-1.05,2.79,-0.68,21.66,1.35,67.60,11.64,...,03-Mar-21,218.85,18-May-20,0.00,0.00,0.00,0.00,0.00,Regular,Value Fund

In [27]:
# Basic statistics of regular mutual fund df
regular_mf.describe()

,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),...,% Other Holding,NAV,1D Change(%),52W High,52W Low,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000,25.00000,25.000000,25.000000,...,25.000000,25.000000,25.000000,25.000000,25.00000,25.00000,25.000000,25.000000,25.000000,25.000000
mean,1.320000,2278.679200,-0.102000,4.133600,2.480800,24.840800,3.12040,63.99800,15.008800,6.342400,...,0.128800,76.130000,-0.631600,77.833600,43.53200,26.30120,31.541200,25.962400,20.089200,40.986000
std,1.625833,3834.747932,0.641489,2.445828,4.528453,12.505549,2.97524,25.57113,5.592531,4.876972,...,0.326564,104.274277,0.228011,107.085588,57.78802,11.54185,12.697847,16.225872,20.527194,56.583669
min,0.000000,0.000000,-1.090000,1.450000,-3.060000,0.000000,-0.83000,0.00000,0.000000,0.000000,...,0.000000,11.700000,-1.130000,11.790000,7.49000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,114.650000,-0.420000,2.640000,-0.820000,19.230000,1.00000,53.43000,12.820000,0.530000,...,0.000000,13.730000,-0.780000,14.030000,8.09000,20.44000,25.250000,20.650000,0.000000,0.000000
50%,0.000000,498.920000,-0.180000,3.400000,1.520000,22.800000,2.20000,67.60000,15.450000,6.650000,...,0.000000,14.560000,-0.590000,14.690000,9.90000,25.92000,33.210000,33.210000,19.320000,0.000000
75%,3.000000,3530.730000,0.200000,5.610000,5.800000,33.440000,5.01000,71.07000,18.450000,9.940000,...,0.000000,84.070000,-0.510000,85.440000,48.78000,32.43000,37.280000,35.910000,38.720000,101.110000
max,5.000000,17824.830000,1.460000,11.150000,13.100000,54.550000,10.99000,122.99000,22.820000,14.020000,...,1.110000,382.190000,0.000000,390.910000,218.85000,52.14000,54.450000,49.470000,48.530000,137.750000

In [28]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 2 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV
45,UTI Value Opportunities Fund,4,5525.68,64.63,11.63,13.36,11.95,344.89
31,ICICI Prudential Value Discovery Fund,4,17824.83,71.07,12.25,12.75,15.18,50.13

In [29]:
# Extracting  last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'
#greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is: 2
Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
45,UTI Value Opportunities Fund,4,5525.68,344.89,18.52,10.36,-1.79,29.09,2.18
31,ICICI Prudential Value Discovery Fund,4,17824.83,50.13,35.37,-6.06,-8.84,2.06,0.00

In [30]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 12% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 12% is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
31,ICICI Prudential Value Discovery Fund,4,17824.83,71.07,12.25,12.75,15.18,50.13,0.0,0.0,0.0,0.0

In [31]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is: 1
Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
31,ICICI Prudential Value Discovery Fund,4,17824.83,50.13,35.37,-6.06,-8.84,2.06,0.0

In [32]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [33]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

In [34]:
# Extracting funds which have '5Y Return' & '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [35]:
# Extracting last five years annual return for funds which have 5Y Return', '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

## Portfolio Turnover Ratio(PTR)

Portfolio Turnover Ratio is the frequency in which the assets held under a fund has changed over the years. In simpler words, PTR provides a measurement on how many times the fund managers bought or sold the assets under a fund over a period of time. PTR is often determined by the market conditions and fund management style.

Suppose an equity fund purchased stocks worth Rs. 375 crore and sold stocks worth Rs. 450 crore. The average AUM of the fund is Rs.1500 crore. In this case, the Portfolio turnover ratio of the fund is 25%, which means one-fourth of the stocks were traded.

Funds that have higher turnover ratios, for example, can trigger higher costs for investors. First, a fund thatâ€™s actively managed may charge a higher expense ratio to cover the fund managerâ€™s services. The expense ratio represents the percentage you pay to own the fund on an annualized basis. At the low end, you can find index funds with expense ratios around 0.50% to 0.10%. But the most expensive funds can easily have expense ratios over 1%.

Turnover ratio can also give you an idea of what the fundâ€™s investment strategy is, which is important for choosing funds that align with your goals and objectives. A growth mutual fund, for instance, may have a higher turnover ratio if the fund manager is constantly looking for the best growth stocks to drive returns. But a fund that uses a value investing approach may have a lower turnover ratio if the fund manager is buying assets that have the potential to appreciate over time.

In [36]:
# Top 10 low turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 low turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nsmallest(10, 'Turnover ratio(%)')

Top 10 low turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.0,0.0,13.15,34.02

In [37]:
# Top 10 high turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 high turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nlargest(10, 'Turnover ratio(%)')

Top 10 high turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.0,0.0,13.15,34.02

## Standard Deviation (SD)

The standard deviation of a stock or a mutual fund represents the riskiness of the stock or the mutual fund.

Standard Deviation is a percentage, expressed as an annualised figure.

Higher the standard Deviation, higher is the volatility of the asset. Higher the volatility, higher is the risk.

Do note, volatility or Standard Deviation should not worry you. Markets are volatile, and equities are volatile, mutual funds are volatile; this is the very nature of markets. So if you canâ€™t fathom watching your investment see-saw between gains and loss, then perhaps you should reconsider your investment decision inequities.

In [38]:
# Top 10 low standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 low standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nsmallest(10, 'Standard Deviation')

Top 10 low standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,13.00,18.62
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,13.15,18.76
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,12.44,18.81
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,11.70,20.07
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,13.73,20.34
9,Tata Value Fund - Series 1,0,955.05,53.43,0.00,0.00,0.00,14.56,20.89
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,14.01,21.22
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,14.19,21.27
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,11.70,22.67
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,13.90,23.00

In [39]:
# Top 10 high standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 high standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nlargest(10, 'Standard Deviation')

Top 10 high standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,13.90,23.00
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,11.70,22.67
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,14.19,21.27
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,14.01,21.22
9,Tata Value Fund - Series 1,0,955.05,53.43,0.00,0.00,0.00,14.56,20.89
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,13.73,20.34
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,11.70,20.07
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,12.44,18.81
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,13.15,18.76
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,13.00,18.62

## Beta Ratios

A Beta Ratio in Mutual Funds offers investors the data on the degree of the volatility a Mutual Fund displays in response to market fluctuations. An investor can determine which fund would be best suited to meet his/her financial objectives.

Suppose, the beta ratio of a specific Mutual Fund is 0.7 or 70%; it means the fund is 0.3 or 30% less volatile than the benchmark index. A Beta ratio value of 1 indicates a lower risk and lower growth potential compared to ratios at par or above 1.

Investors with a low-risk appetite would always prefer a lower beta ratio in Mutual Funds as it indicates a steadier response to a volatile market condition. Similarly, investors with the investment objective of higher returns would prefer beta ratios of 1 or more than 1.

In [40]:
# Top 10 low beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 low beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nsmallest(10, 'Beta')

Top 10 low beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,13.73,0.60
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,13.15,0.83
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,14.19,0.85
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,13.00,0.87
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,12.44,0.87
9,Tata Value Fund - Series 1,0,955.05,53.43,0.00,0.00,0.00,14.56,0.88
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,14.01,0.91
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,11.70,0.94
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,11.70,0.95
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,13.90,1.04

In [41]:
# Top 10 high beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 high beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nlargest(10, 'Beta')

Top 10 high beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,13.90,1.04
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,11.70,0.95
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,11.70,0.94
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,14.01,0.91
9,Tata Value Fund - Series 1,0,955.05,53.43,0.00,0.00,0.00,14.56,0.88
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,13.00,0.87
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,12.44,0.87
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,14.19,0.85
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,13.15,0.83
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,13.73,0.60

In [42]:
# Funds with 'Beta' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] < 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,14.01,0.91
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,13.00,0.87
9,Tata Value Fund - Series 1,0,955.05,53.43,0.00,0.00,0.00,14.56,0.88
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,11.70,0.95
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,13.73,0.60
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,14.19,0.85
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,11.70,0.94
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,12.44,0.87
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,13.15,0.83

In [43]:
# Funds with 'Beta' greater than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,13.9,1.04

## What is Sharpe Ratio?

Sharpe Ratio of a mutual fund reveals its potential risk-adjusted returns. The risk-adjusted returns are the returns earned by an investment over the returns generated by any risk-free asset such as a fixed deposit. However, higher returns indicate extra risk. Higher Sharpe Ratio means greater returns from an investment but with a higher risk level. Therefore, it justifies the underlying volatility of the funds. The investors aiming for higher returns will have to invest in funds with higher risk factors.

Investments with less than 1.00 Sharpe Ratio do not generate high returns. Contrarily, investment with Sharpe Ratio of 1.00 to 3.00 or above have higher returns subsequently.

In [44]:
# Top 10 low sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 low 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nsmallest(10, 'Sharpe Ratio')

Top 10 low 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,11.70,0.11
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,14.01,0.18
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,12.44,0.25
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,13.90,0.33
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,14.19,0.43
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,13.00,0.45
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,13.73,0.45
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,11.70,0.45
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,13.15,0.45

In [45]:
# Top 10 high sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nlargest(10, 'Sharpe Ratio')

Top 10 high 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,13.00,0.45
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,13.73,0.45
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,11.70,0.45
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,13.15,0.45
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,14.19,0.43
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,13.90,0.33
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,12.44,0.25
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,14.01,0.18
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,11.70,0.11

In [46]:
# Funds with 'Sharpe Ratio' greater than or equal to 3.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] >= 3.00)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [47]:
# Funds with 'Sharpe Ratio' greater than to 2.00 & lesser than 2.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 2.00) & (regular_mf['Sharpe Ratio'] < 2.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [48]:
# Funds with 'Sharpe Ratio' greater than to 1.00 & lesser than 1.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 1.00) & (regular_mf['Sharpe Ratio'] < 1.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [49]:
# Funds with 'Sharpe Ratio' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] != 0.00) & (regular_mf['Sharpe Ratio'] < 1.00)]
print("Funds with 'Sharpe Ratio' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Funds with 'Sharpe Ratio' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,13.90,0.33
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,14.01,0.18
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,13.00,0.45
9,Tata Value Fund - Series 1,0,955.05,53.43,0.00,0.00,0.00,14.56,-0.13
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,11.70,0.11
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,13.73,0.45
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,14.19,0.43
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,11.70,0.45
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,12.44,0.25
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,13.15,0.45

In [50]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['10Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is: 8 Funds

,Scheme Name,Crisil Rank,AuM (Cr),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
21,Tata Equity PE Fund - Regular Plan,1,4502.72,35.08,43.06,118.75,13.31,0.00,0.0,0.00,0.00
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,37.33,46.19,114.96,13.73,0.45,0.0,20.34,0.60
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,42.94,47.29,121.01,14.19,0.43,0.0,21.27,0.85
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,42.42,48.53,134.09,11.70,0.45,0.0,20.07,0.94
10,ICICI Prudential Value Fund - Series 20,0,643.69,34.29,36.30,88.97,12.44,0.25,0.0,18.81,0.87
22,ICICI Prudential Value Fund - Series 18,0,169.88,33.22,38.72,137.75,13.91,0.00,0.0,0.00,0.00
33,DSP Value Fund,0,377.00,36.29,46.25,95.39,69.36,0.00,0.0,0.00,0.00
32,DSP Value Fund,0,0.00,27.23,34.20,101.11,63.93,0.00,0.0,0.00,0.00

In [51]:
# Extracting funds which have 3Y Return' & '5Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is: 11 Funds

,Scheme Name,Crisil Rank,AuM (Cr),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
25,Nippon India Value Fund,3,3530.73,33.21,40.39,0.00,14.55,0.00,0.0,0.00,0.00
21,Tata Equity PE Fund - Regular Plan,1,4502.72,35.08,43.06,118.75,13.31,0.00,0.0,0.00,0.00
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,35.23,33.25,0.00,14.01,0.18,0.0,21.22,0.91
27,Union Value Discovery Fund,0,114.65,29.11,37.92,0.00,15.21,0.00,0.0,0.00,0.00
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,37.33,46.19,114.96,13.73,0.45,0.0,20.34,0.60
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,42.94,47.29,121.01,14.19,0.43,0.0,21.27,0.85
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,42.42,48.53,134.09,11.70,0.45,0.0,20.07,0.94
10,ICICI Prudential Value Fund - Series 20,0,643.69,34.29,36.30,88.97,12.44,0.25,0.0,18.81,0.87
22,ICICI Prudential Value Fund - Series 18,0,169.88,33.22,38.72,137.75,13.91,0.00,0.0,0.00,0.00
33,DSP Value Fund,0,377.00,36.29,46.25,95.39,69.36,0.00,0.0,0.00,0.00
32,DSP Value Fund,0,0.00,27.23,34.20,101.11,63.93,0.00,0.0,0.00,0.00

In [52]:
# Extracting funds which have '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['1Y_SIP_RTN(%)'] > 25) & (regular_mf['2Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['3Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is: 14 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
5,Templeton India Value Fund,3,498.92,41.01,44.98,44.60,13.90,0.33,0.0,23.00,1.04
21,Tata Equity PE Fund - Regular Plan,1,4502.72,28.36,33.21,35.08,13.31,0.00,0.0,0.00,0.00
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,36.94,41.32,35.23,14.01,0.18,0.0,21.22,0.91
27,Union Value Discovery Fund,0,114.65,25.92,30.59,29.11,15.21,0.00,0.0,0.00,0.00
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,32.43,35.58,35.91,13.00,0.45,0.0,18.62,0.87
9,Tata Value Fund - Series 1,0,955.05,35.11,48.89,49.47,14.56,-0.13,0.0,20.89,0.88
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,28.99,33.50,34.72,11.70,0.11,0.0,22.67,0.95
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,29.93,36.12,37.33,13.73,0.45,0.0,20.34,0.60
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,42.52,47.54,42.94,14.19,0.43,0.0,21.27,0.85
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,31.18,41.63,42.42,11.70,0.45,0.0,20.07,0.94
10,ICICI Prudential Value Fund - Series 20,0,643.69,32.67,37.28,34.29,12.44,0.25,0.0,18.81,0.87
22,ICICI Prudential Value Fund - Series 18,0,169.88,27.47,33.37,33.22,13.91,0.00,0.0,0.00,0.00
33,DSP Value Fund,0,377.00,25.13,33.44,36.29,69.36,0.00,0.0,0.00,0.00
32,DSP Value Fund,0,0.00,25.24,29.32,27.23,63.93,0.00,0.0,0.00,0.00

In [53]:
# Top 10 high AuM (Cr) regular mutual funds are
#mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 high 'AuM (Cr)' regular mutual funds are :")
mf_tr =  mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nlargest(10, 'AuM (Cr)')
mf_tr

Top 10 high 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,0.18,0.00,21.22,0.91
1,ICICI Prudential Value Fund - Series 19,0,2433.13,74.66,12.51,0.00,0.00,0.45,34.02,18.76,0.83
9,Tata Value Fund - Series 1,0,955.05,53.43,0.00,0.00,0.00,-0.13,0.00,20.89,0.88
10,ICICI Prudential Value Fund - Series 20,0,643.69,69.43,8.88,0.00,0.00,0.25,0.00,18.81,0.87
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,0.33,0.00,23.00,1.04
13,Tata Value Fund - Series 2 - Regular Plan,0,329.49,49.97,0.00,0.00,0.00,0.45,0.00,18.62,0.87
16,Sundaram Value Fund - Series IX - Regular Plan,0,142.70,67.87,14.02,0.00,0.00,0.45,0.00,20.07,0.94
19,Sundaram Value Fund - Series VIII - Regular Plan,0,98.44,59.06,6.58,0.00,0.00,0.45,0.00,20.34,0.60
17,Sundaram Value Fund - Series X - Regular Plan,0,80.83,67.68,13.65,0.00,0.00,0.11,0.00,22.67,0.95
3,Sundaram Value Fund - Series VII - Regular Plan,0,34.40,122.99,6.67,0.00,0.00,0.43,0.00,21.27,0.85

In [54]:
# Top 10 low AuM (Cr) regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 low 'AuM (Cr)' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nsmallest(10, 'AuM (Cr)')

Top 10 low 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
39,Indiabulls Value Fund,2,13.98,50.89,1.96,7.55,0.00,0.00,0.0,0.00,0.00
49,JM Value Fund,3,134.86,68.27,9.48,15.58,12.54,0.00,0.0,0.00,0.00
5,Templeton India Value Fund,3,498.92,86.21,6.19,12.14,10.41,0.33,0.0,23.00,1.04
35,IDFC Sterling Value Fund - Regular Plan,5,3334.47,110.44,6.65,14.71,14.01,0.00,0.0,0.00,0.00
25,Nippon India Value Fund,3,3530.73,74.28,9.94,14.47,12.58,0.00,0.0,0.00,0.00
7,Aditya Birla Sun Life Pure Value Fund - Regula...,1,4117.23,78.14,0.53,10.11,14.31,0.18,0.0,21.22,0.91
37,HDFC Capital Builder Value Fund,2,4408.82,65.64,5.85,12.22,12.34,0.00,0.0,0.00,0.00
21,Tata Equity PE Fund - Regular Plan,1,4502.72,52.19,4.88,14.06,13.06,0.00,0.0,0.00,0.00
45,UTI Value Opportunities Fund,4,5525.68,64.63,11.63,13.36,11.95,0.00,0.0,0.00,0.00
41,L&T India Value Fund,2,6758.59,69.84,7.35,13.61,15.59,0.00,0.0,0.00,0.00

In [55]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 0) & (regular_mf['AuM (Cr)'] < 500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [56]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 500Crs to 1000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 500) & (regular_mf['AuM (Cr)'] < 1000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [57]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1000) & (regular_mf['AuM (Cr)'] < 1500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [58]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1500 to 20000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1500) & (regular_mf['AuM (Cr)'] < 20000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is: 2 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
45,UTI Value Opportunities Fund,4,5525.68,64.63,11.63,13.36,11.95,344.89,0.0,0.0,0.0,0.0
31,ICICI Prudential Value Discovery Fund,4,17824.83,71.07,12.25,12.75,15.18,50.13,0.0,0.0,0.0,0.0