In [1]:
# Importing respective modules
import pandas as pd
import re

In [2]:
# Reading elss mutual funds csv file
daa_mf = pd.read_csv('daa_mf_data(18-May-2021 18:19:03).csv')

In [3]:
# Extracting a plan from "Scheme Name" column
ahheme_name = list(daa_mf['Scheme Name'])
plan = []
for i in ahheme_name:
    #print(type(i))
    plan.append(re.findall("Direct|Regular", str(i)))
#plan
for p in plan:
    if len(p) == 0:
        #print(type(p))
        p.append("Regular")
daa_mf['Plan'] = plan

In [4]:
# Extracting a category from "Scheme Name" column
ahheme_name = list(daa_mf['Scheme Name'])
category = []
for i in ahheme_name:
    #print(type(i))
    category.append(re.findall("Dynamic Asset Allocation or Balanced Advantage", str(i)))
daa_mf['Category'] = category

In [5]:
# Modifiying 'Scheme Name' column
daa_mf['Scheme Name'] = daa_mf['Scheme Name'].str.replace(' - GrowthDynamic Asset Allocation or Balanced Advantage', '')

In [6]:
#Replacing "']" & "['" string with "" in Plan columns
daa_mf['Plan'] = daa_mf['Plan'].astype(str).str.replace("\['","", regex=True)
daa_mf['Plan'] = daa_mf['Plan'].astype(str).str.replace("']","", regex=True)

#Replacing "']" & "['" string with "" in Category columns
daa_mf['Category'] = daa_mf['Category'].astype(str).str.replace("\['","", regex=True)
daa_mf['Category'] = daa_mf['Category'].astype(str).str.replace("']","", regex=True)

In [7]:
#Replacing "Aggressive Hybrid Fund', 'Aggressive Hybrid Fund" string with "Aggressive Hybrid Fund" in Category columns
daa_mf['Category'] = daa_mf['Category'].astype(str).str.replace("Dynamic Asset Allocation or Balanced Advantage', 'Dynamic Asset Allocation or Balanced Advantage",
                                                              "Dynamic Asset Allocation or Balanced Advantage", regex=True)

#Replacing "%" string with "" in Crisil Rank, % Debt Holding, No of instruments in portfolio,
# % MF Holding, % Other Holding, Turnover ratio, MTD, 10Y_SIP_RTN(%) & 5Y_SIP_RTN(%) columns
daa_mf[['% Debt Holding', 'No of instruments in portfolio',
          '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
          'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'         
         ]] = daa_mf[['% Debt Holding', 'No of instruments in portfolio',
                        '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
                        'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'
                        ]].replace("%", "", regex=True)

#Replacing "-" string with "0" in Crisil Rank columns
daa_mf['Crisil Rank'] = daa_mf['Crisil Rank'].replace("-", "", regex=True)

In [8]:
#Replacing "-" string with "0" in Crisil Rank columns
daa_mf['Crisil Rank'] = daa_mf['Crisil Rank'].replace("", "0", regex=True)

#Replacing "%" with '' in the column
daa_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = daa_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"
                       ]].replace("%", "", regex=True)
print("Shape of the dataframe:", daa_mf.shape)
daa_mf.head()

Shape of the dataframe: (47, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
0,HDFC Balanced Advantage Fund - Direct Plan,4,39146.35,1.29,5.88,1.15,24.77,4.34,58.84,13.39,...,03-Mar-21,159.7370,22-May-20,26.70,29.21,30.72,41.76,-,Direct,Dynamic Asset Allocation or Balanced Advantage
1,ITI Balanced Advantage Fund - Direct Plan,0,192.26,0.52,2.15,2.41,11.09,2.33,21.12,-,...,17-May-21,85.6386,20-May-20,16.24,26.85,32.81,46.17,-,Direct,Dynamic Asset Allocation or Balanced Advantage
2,ITI Balanced Advantage Fund,0,192.26,0.48,1.85,1.76,9.84,1.93,18.51,-,...,17-May-21,80.8335,20-May-20,15.83,22.66,26.84,36.31,-,Regular,Dynamic Asset Allocation or Balanced Advantage
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,0.29,2.15,0.65,10.57,1.88,39.63,13.10,...,11-May-21,50.3900,22-May-20,15.41,20.50,24.32,35.38,-,Regular,Dynamic Asset Allocation or Balanced Advantage
4,ICICI Prudential Balanced Advantage Fund - Dir...,0,30900.09,0.29,2.21,0.80,10.91,1.96,40.45,13.72,...,11-May-21,47.1800,22-May-20,15.30,24.85,29.76,41.01,84.80,Direct,Dynamic Asset Allocation or Balanced Advantage

In [9]:
#Sorting a daa_mf dataframe by "Crisil Rank Column"
daa_mf.sort_values(by=['Crisil Rank', 'Scheme Name', 'AuM (Cr)'], inplace=True, ascending=False)
print("Shape of the dataframe:", daa_mf.shape)
daa_mf.head()

Shape of the dataframe: (47, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
45,Invesco India Dynamic Equity Fund - Direct Plan,5,651.84,-0.49,3.36,2.15,9.38,4.03,31.98,10.79,...,10-Mar-21,13.7086,26-May-20,NaN,NaN,NaN,NaN,NaN,Direct,Dynamic Asset Allocation or Balanced Advantage
46,Invesco India Dynamic Equity Fund,4,651.84,-0.52,3.22,1.78,8.64,3.81,30.20,9.39,...,10-Mar-21,13.2596,26-May-20,NaN,NaN,NaN,NaN,NaN,Regular,Dynamic Asset Allocation or Balanced Advantage
0,HDFC Balanced Advantage Fund - Direct Plan,4,39146.35,1.29,5.88,1.15,24.77,4.34,58.84,13.39,...,03-Mar-21,159.7370,22-May-20,26.70,29.21,30.72,41.76,-,Direct,Dynamic Asset Allocation or Balanced Advantage
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,0.29,2.15,0.65,10.57,1.88,39.63,13.10,...,11-May-21,50.3900,22-May-20,15.41,20.50,24.32,35.38,-,Regular,Dynamic Asset Allocation or Balanced Advantage
44,Edelweiss Balanced Advantage Fund,2,3564.04,-0.25,1.71,-0.50,12.94,1.71,38.11,17.35,...,15-Feb-21,10.0500,26-May-20,NaN,NaN,NaN,NaN,NaN,Regular,Dynamic Asset Allocation or Balanced Advantage

In [10]:
#Replacing "-" with 'None' in the columns
daa_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = daa_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"]].replace({'-' : None})

In [11]:
#Replacing "" with '0' in the columns

daa_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank'
         ]] = daa_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',\
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank']].fillna(value='0')

In [12]:
#Changing the datatype of the return & risk ratio columns

daa_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"
         ]] = daa_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"]].apply(pd.to_numeric, errors='coerce')

In [13]:
#Changing the datatype of the 'Crisil Rank' columns
daa_mf['Crisil Rank'] = daa_mf['Crisil Rank'].astype('int')

In [14]:
#Removing white spaces at both ends in all over the dataframe:

daa_mf.columns = daa_mf.columns.str.strip()

#Checking the data type of all columns in the DataFrame
daa_mf_dtype = daa_mf.dtypes

df_dtypes = pd.DataFrame(daa_mf_dtype)

In [15]:
#Using pandas dataframe.round()function to round off all the decimal values to 2 decimal places
daa_mf = daa_mf.round(2)

In [16]:
# #Exporting the consolidated elss mf data as a  csv file
# print("Shape of the dataframe:", daa_mf.shape)
#daa_mf.to_csv('final_daa_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#                 index=False)

# #Exporting the elss mf data columns with its datatype as a  csv file
# df_dtypes.to_csv('daa_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv))'

In [17]:
#Exctracting regular mutual funds
regular_mf = daa_mf.loc[daa_mf['Plan'] == 'Regular']
regular_mf.head()

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
46,Invesco India Dynamic Equity Fund,4,651.84,-0.52,3.22,1.78,8.64,3.81,30.20,9.39,...,10-Mar-21,13.26,26-May-20,0.00,0.00,0.00,0.00,0.00,Regular,Dynamic Asset Allocation or Balanced Advantage
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,0.29,2.15,0.65,10.57,1.88,39.63,13.10,...,11-May-21,50.39,22-May-20,15.41,20.50,24.32,35.38,0.00,Regular,Dynamic Asset Allocation or Balanced Advantage
44,Edelweiss Balanced Advantage Fund,2,3564.04,-0.25,1.71,-0.50,12.94,1.71,38.11,17.35,...,15-Feb-21,10.05,26-May-20,0.00,0.00,0.00,0.00,0.00,Regular,Dynamic Asset Allocation or Balanced Advantage
31,Aditya Birla Sun Life Balanced Advantage Fund,2,3326.87,-0.01,2.26,1.54,10.80,2.44,39.57,13.55,...,17-May-21,9.90,20-May-20,8.95,14.56,0.00,0.00,0.00,Regular,Dynamic Asset Allocation or Balanced Advantage
38,Union Balanced Advantage Fund,0,900.09,-0.07,0.72,-0.43,6.62,0.65,38.70,15.09,...,10-Mar-21,11.45,20-May-20,7.45,13.38,16.78,24.57,72.33,Regular,Dynamic Asset Allocation or Balanced Advantage

In [18]:
# Basic statistics of regular mutual fund df
regular_mf.describe()

,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),...,% Other Holding,NAV,1D Change(%),52W High,52W Low,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,...,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000
mean,0.434783,2902.691739,0.015652,1.296522,0.176522,7.281739,1.168261,27.192174,8.854348,4.800870,...,0.697826,24.377826,0.607391,24.514783,18.217826,9.823043,13.303043,10.775652,11.519130,3.144783
std,1.036870,6369.918510,0.192539,0.838828,1.329435,3.411014,1.008814,11.066319,5.813725,4.505224,...,2.098538,24.027590,0.213738,23.989915,16.983185,4.247083,8.310743,10.455980,15.579865,15.081848
min,0.000000,0.000000,-0.520000,-0.150000,-2.580000,0.000000,-1.010000,0.000000,0.000000,0.000000,...,0.000000,10.410000,0.140000,10.430000,9.630000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,452.015000,-0.065000,0.790000,-0.465000,5.580000,0.700000,23.135000,4.650000,0.000000,...,0.000000,12.970000,0.480000,13.185000,9.970000,7.845000,9.835000,0.000000,0.000000,0.000000
50%,0.000000,1141.190000,0.000000,1.300000,0.450000,7.280000,1.090000,29.120000,10.030000,5.660000,...,0.000000,14.020000,0.620000,14.100000,10.270000,9.740000,14.560000,14.230000,0.000000,0.000000
75%,0.000000,2861.565000,0.095000,1.905000,1.245000,9.500000,1.795000,35.720000,13.150000,8.680000,...,0.505000,24.925000,0.785000,24.950000,18.275000,12.825000,20.155000,19.480000,28.165000,0.000000
max,4.000000,30900.090000,0.480000,3.220000,1.860000,12.940000,3.810000,40.320000,17.970000,12.200000,...,10.160000,111.000000,1.030000,111.000000,80.830000,15.830000,26.580000,26.840000,36.980000,72.330000

In [19]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 3 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,39.63,10.44,11.37,12.57,72.49
44,Edelweiss Balanced Advantage Fund,2,3564.04,38.11,12.20,11.90,10.94,14.02
31,Aditya Birla Sun Life Balanced Advantage Fund,2,3326.87,39.57,10.05,11.63,10.40,13.70

In [20]:
# Extracting  last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'
#greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is: 3
Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,72.49,14.23,10.58,3.05,18.62,4.59
44,Edelweiss Balanced Advantage Fund,2,3564.04,14.02,22.52,10.85,3.00,0.00,0.00
31,Aditya Birla Sun Life Balanced Advantage Fund,2,3326.87,13.70,11.30,10.92,2.63,19.01,6.94

In [21]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 12% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 12% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [22]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is: 0
Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

In [23]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [24]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

In [25]:
# Extracting funds which have '5Y Return' & '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [26]:
# Extracting last five years annual return for funds which have 5Y Return', '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

## Portfolio Turnover Ratio(PTR)

Portfolio Turnover Ratio is the frequency in which the assets held under a fund has changed over the years. In simpler words, PTR provides a measurement on how many times the fund managers bought or sold the assets under a fund over a period of time. PTR is often determined by the market conditions and fund management style.

Suppose an equity fund purchased stocks worth Rs. 375 crore and sold stocks worth Rs. 450 crore. The average AUM of the fund is Rs.1500 crore. In this case, the Portfolio turnover ratio of the fund is 25%, which means one-fourth of the stocks were traded.

Funds that have higher turnover ratios, for example, can trigger higher costs for investors. First, a fund thatâ€™s actively managed may charge a higher expense ratio to cover the fund managerâ€™s services. The expense ratio represents the percentage you pay to own the fund on an annualized basis. At the low end, you can find index funds with expense ratios around 0.50% to 0.10%. But the most expensive funds can easily have expense ratios over 1%.

Turnover ratio can also give you an idea of what the fundâ€™s investment strategy is, which is important for choosing funds that align with your goals and objectives. A growth mutual fund, for instance, may have a higher turnover ratio if the fund manager is constantly looking for the best growth stocks to drive returns. But a fund that uses a value investing approach may have a lower turnover ratio if the fund manager is buying assets that have the potential to appreciate over time.

In [27]:
# Top 10 low turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 low turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nsmallest(10, 'Turnover ratio(%)')

Top 10 low turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
42,L&T Balanced Advantage Fund,0,1684.78,23.27,7.57,8.43,11.08,10.41,284.00
32,Shriram Balanced Advantage Fund,0,46.07,24.16,0.00,0.00,0.00,13.28,408.00
29,Baroda Dynamic Equity Fund,0,1141.19,40.32,0.00,0.00,0.00,31.86,486.00
28,Axis Dynamic Equity Fund,0,1324.12,23.00,6.53,0.00,0.00,13.25,486.00
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.00,32.03,520.63
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,34.55,593.00

In [28]:
# Top 10 high turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 high turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nlargest(10, 'Turnover ratio(%)')

Top 10 high turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,34.55,593.00
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.00,32.03,520.63
29,Baroda Dynamic Equity Fund,0,1141.19,40.32,0.00,0.00,0.00,31.86,486.00
28,Axis Dynamic Equity Fund,0,1324.12,23.00,6.53,0.00,0.00,13.25,486.00
32,Shriram Balanced Advantage Fund,0,46.07,24.16,0.00,0.00,0.00,13.28,408.00
42,L&T Balanced Advantage Fund,0,1684.78,23.27,7.57,8.43,11.08,10.41,284.00

## Standard Deviation (SD)

The standard deviation of a stock or a mutual fund represents the riskiness of the stock or the mutual fund.

Standard Deviation is a percentage, expressed as an annualised figure.

Higher the standard Deviation, higher is the volatility of the asset. Higher the volatility, higher is the risk.

Do note, volatility or Standard Deviation should not worry you. Markets are volatile, and equities are volatile, mutual funds are volatile; this is the very nature of markets. So if you canâ€™t fathom watching your investment see-saw between gains and loss, then perhaps you should reconsider your investment decision inequities.

In [29]:
# Top 10 low standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 low standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nsmallest(10, 'Standard Deviation')

Top 10 low standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
2,ITI Balanced Advantage Fund,0,192.26,18.51,0.00,0.00,0.00,111.00,7.30
12,Sundaram Balanced Advantage Fund,0,914.65,30.67,0.00,0.00,0.00,15.34,8.99
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.00,48.98,10.35
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.00,32.03,10.43
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,34.55,12.99
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,39.63,10.44,11.37,12.57,72.49,13.10

In [30]:
# Top 10 high standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 high standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nlargest(10, 'Standard Deviation')

Top 10 high standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,39.63,10.44,11.37,12.57,72.49,13.10
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,34.55,12.99
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.00,32.03,10.43
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.00,48.98,10.35
12,Sundaram Balanced Advantage Fund,0,914.65,30.67,0.00,0.00,0.00,15.34,8.99
2,ITI Balanced Advantage Fund,0,192.26,18.51,0.00,0.00,0.00,111.00,7.30

## Beta Ratios

A Beta Ratio in Mutual Funds offers investors the data on the degree of the volatility a Mutual Fund displays in response to market fluctuations. An investor can determine which fund would be best suited to meet his/her financial objectives.

Suppose, the beta ratio of a specific Mutual Fund is 0.7 or 70%; it means the fund is 0.3 or 30% less volatile than the benchmark index. A Beta ratio value of 1 indicates a lower risk and lower growth potential compared to ratios at par or above 1.

Investors with a low-risk appetite would always prefer a lower beta ratio in Mutual Funds as it indicates a steadier response to a volatile market condition. Similarly, investors with the investment objective of higher returns would prefer beta ratios of 1 or more than 1.

In [31]:
# Top 10 low beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 low beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nsmallest(10, 'Beta')

Top 10 low beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.0,48.98,0.47
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.0,32.03,0.68

In [32]:
# Top 10 high beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 high beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nlargest(10, 'Beta')

Top 10 high beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.0,32.03,0.68
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.0,48.98,0.47

In [33]:
# Funds with 'Beta' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] < 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.0,32.03,0.68
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.0,48.98,0.47

In [34]:
# Funds with 'Beta' greater than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Beta]
Index: []

## What is Sharpe Ratio?

Sharpe Ratio of a mutual fund reveals its potential risk-adjusted returns. The risk-adjusted returns are the returns earned by an investment over the returns generated by any risk-free asset such as a fixed deposit. However, higher returns indicate extra risk. Higher Sharpe Ratio means greater returns from an investment but with a higher risk level. Therefore, it justifies the underlying volatility of the funds. The investors aiming for higher returns will have to invest in funds with higher risk factors.

Investments with less than 1.00 Sharpe Ratio do not generate high returns. Contrarily, investment with Sharpe Ratio of 1.00 to 3.00 or above have higher returns subsequently.

In [35]:
# Top 10 low sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 low 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nsmallest(10, 'Sharpe Ratio')

Top 10 low 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
2,ITI Balanced Advantage Fund,0,192.26,18.51,0.00,0.00,0.00,111.00,0.25
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.00,48.98,0.47
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.00,32.03,0.55
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,39.63,10.44,11.37,12.57,72.49,0.58
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,34.55,0.60

In [36]:
# Top 10 high sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nlargest(10, 'Sharpe Ratio')

Top 10 high 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,34.55,0.60
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,39.63,10.44,11.37,12.57,72.49,0.58
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.00,32.03,0.55
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.00,48.98,0.47
2,ITI Balanced Advantage Fund,0,192.26,18.51,0.00,0.00,0.00,111.00,0.25

In [37]:
# Funds with 'Sharpe Ratio' greater than or equal to 3.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] >= 3.00)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [38]:
# Funds with 'Sharpe Ratio' greater than to 2.00 & lesser than 2.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 2.00) & (regular_mf['Sharpe Ratio'] < 2.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [39]:
# Funds with 'Sharpe Ratio' greater than to 1.00 & lesser than 1.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 1.00) & (regular_mf['Sharpe Ratio'] < 1.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [40]:
# Funds with 'Sharpe Ratio' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] != 0.00) & (regular_mf['Sharpe Ratio'] < 1.00)]
print("Funds with 'Sharpe Ratio' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Funds with 'Sharpe Ratio' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,39.63,10.44,11.37,12.57,72.49,0.58
12,Sundaram Balanced Advantage Fund,0,914.65,30.67,0.00,0.00,0.00,15.34,-0.19
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,34.55,0.60
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.00,32.03,0.55
2,ITI Balanced Advantage Fund,0,192.26,18.51,0.00,0.00,0.00,111.00,0.25
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.00,48.98,0.47

In [41]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['10Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 3Y_SIP_RTN(%), 5Y_SIP_RTN(%), 10Y_SIP_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [42]:
# Extracting funds which have 3Y Return' & '5Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is: 2 Funds

,Scheme Name,Crisil Rank,AuM (Cr),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
2,ITI Balanced Advantage Fund,0,192.26,26.84,36.31,0.0,111.00,0.25,0.0,7.30,NaN
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,25.68,36.98,0.0,48.98,0.47,0.0,10.35,0.47

In [43]:
# Extracting funds which have '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['1Y_SIP_RTN(%)'] > 25) & (regular_mf['2Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['3Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_SIP_RTN(%), 2Y_SIP_RTN(%), 3Y_SIP_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [44]:
# Top 10 high AuM (Cr) regular mutual funds are
#mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 high 'AuM (Cr)' regular mutual funds are :")
mf_tr =  mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nlargest(10, 'AuM (Cr)')
mf_tr

Top 10 high 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
3,ICICI Prudential Balanced Advantage Fund,2,30900.09,39.63,10.44,11.37,12.57,0.58,0.00,13.10,NaN
10,Kotak Balanced Advantage Fund,0,8114.06,35.26,0.00,0.00,0.00,0.55,520.63,10.43,0.68
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.00,0.47,0.00,10.35,0.47
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,0.60,593.00,12.99,NaN
12,Sundaram Balanced Advantage Fund,0,914.65,30.67,0.00,0.00,0.00,-0.19,0.00,8.99,NaN
2,ITI Balanced Advantage Fund,0,192.26,18.51,0.00,0.00,0.00,0.25,0.00,7.30,NaN

In [45]:
# Top 10 low AuM (Cr) regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 low 'AuM (Cr)' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nsmallest(10, 'AuM (Cr)')

Top 10 low 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
22,BOI AXA Equity Debt Rebalancer Fund - Regular ...,0,68.42,17.00,1.73,4.19,0.00,0.00,0.0,0.00,0.00
19,Principal Balanced Advantage Fund,0,195.71,20.39,5.66,6.96,9.12,0.00,0.0,0.00,0.00
16,SBI Dynamic Asset Allocation Fund - Regular Plan,0,631.11,29.12,5.65,8.20,0.00,0.00,0.0,0.00,0.00
46,Invesco India Dynamic Equity Fund,4,651.84,30.20,6.01,10.20,10.72,0.00,0.0,0.00,0.00
42,L&T Balanced Advantage Fund,0,1684.78,23.27,7.57,8.43,11.08,0.00,284.0,0.00,0.00
36,IDFC Balanced Advantage Fund - Regular Plan,0,1837.30,29.12,8.28,9.11,0.00,0.00,0.0,0.00,0.00
9,Nippon India Balanced Advantage Fund,0,3310.28,36.18,9.08,12.09,11.04,0.60,593.0,12.99,NaN
31,Aditya Birla Sun Life Balanced Advantage Fund,2,3326.87,39.57,10.05,11.63,10.40,0.00,0.0,0.00,0.00
6,DSP Dynamic Asset Allocation Fund - Regular Plan,0,3376.43,26.48,9.46,9.39,0.00,0.47,0.0,10.35,0.47
44,Edelweiss Balanced Advantage Fund,2,3564.04,38.11,12.20,11.90,10.94,0.00,0.0,0.00,0.00

In [46]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 0) & (regular_mf['AuM (Cr)'] < 500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [47]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 500Crs to 1000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 500) & (regular_mf['AuM (Cr)'] < 1000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [48]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1000) & (regular_mf['AuM (Cr)'] < 1500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [49]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1500 to 20000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1500) & (regular_mf['AuM (Cr)'] < 20000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is: 2 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
44,Edelweiss Balanced Advantage Fund,2,3564.04,38.11,12.20,11.90,10.94,14.02,0.0,0.0,0.0,0.0
31,Aditya Birla Sun Life Balanced Advantage Fund,2,3326.87,39.57,10.05,11.63,10.40,13.70,0.0,0.0,0.0,0.0